MONGODB_URI=mongodb://127.0.0.1:27017/tatawwu
JWT_SECRET=replace-with-your-jwt-secret
PORT=3000
CLOUDINARY_CLOUD_NAME=xnmsfzn4
CLOUDINARY_API_KEY=242735865244649
CLOUDINARY_API_SECRET=mbBXis4CG4q8eYHncgAUB7zKnnI
CLOUDINARY_URL=cloudinary://242735865244649:mbBXis4CG4q8eYHncgAUB7zKnnI@xnmsfzn4
